#container {
    text-align: justify;
    
}

#container > div {
    /* width: 100%; */
    display: inline-block;
    vertical-align: top;
}

#container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

img:hover {
    opacity: .6;
    transition: .9s;
}

h1 {
    color: whitesmoke;
    text-align: center;
    line-height: 1.0;
}


#support {
    background: url('./image/BackgroundImages/background-portfolio2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

